<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="execute_failed_testcase.RetryListener"></listener>
	</listeners>

	<test thread-count="5" name="test" enabled="true">
		<classes>
			<class name="execute_failed_testcase.rerun_failed_testcase" />
		</classes>
	</test>
</suite>
